[Desktop Entry]
Name=Conky
GenericName=ConkyStartup
Comment=Start conky on boot
Exec=/usr/bin/conky.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
